In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Bases de dados/census.csv')

In [3]:
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
dataset = df[['education', 'income']]

In [5]:
dataset.income.value_counts()

income
 <=50K    24720
 >50K      7841
Name: count, dtype: int64

In [6]:
dataset['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [10]:
gpe = dataset.groupby(['education']).value_counts()
gpe

education      income
 10th           <=50K     871
                >50K       62
 11th           <=50K    1115
                >50K       60
 12th           <=50K     400
                >50K       33
 1st-4th        <=50K     162
                >50K        6
 5th-6th        <=50K     317
                >50K       16
 7th-8th        <=50K     606
                >50K       40
 9th            <=50K     487
                >50K       27
 Assoc-acdm     <=50K     802
                >50K      265
 Assoc-voc      <=50K    1021
                >50K      361
 Bachelors      <=50K    3134
                >50K     2221
 Doctorate      >50K      306
                <=50K     107
 HS-grad        <=50K    8826
                >50K     1675
 Masters        >50K      959
                <=50K     764
 Preschool      <=50K      51
 Prof-school    >50K      423
                <=50K     153
 Some-college   <=50K    5904
                >50K     1387
Name: count, dtype: int64

In [41]:
gpe.index

MultiIndex([(        ' 10th', ' <=50K'),
            (        ' 10th',  ' >50K'),
            (        ' 11th', ' <=50K'),
            (        ' 11th',  ' >50K'),
            (        ' 12th', ' <=50K'),
            (        ' 12th',  ' >50K'),
            (     ' 1st-4th', ' <=50K'),
            (     ' 1st-4th',  ' >50K'),
            (     ' 5th-6th', ' <=50K'),
            (     ' 5th-6th',  ' >50K'),
            (     ' 7th-8th', ' <=50K'),
            (     ' 7th-8th',  ' >50K'),
            (         ' 9th', ' <=50K'),
            (         ' 9th',  ' >50K'),
            (  ' Assoc-acdm', ' <=50K'),
            (  ' Assoc-acdm',  ' >50K'),
            (   ' Assoc-voc', ' <=50K'),
            (   ' Assoc-voc',  ' >50K'),
            (   ' Bachelors', ' <=50K'),
            (   ' Bachelors',  ' >50K'),
            (   ' Doctorate',  ' >50K'),
            (   ' Doctorate', ' <=50K'),
            (     ' HS-grad', ' <=50K'),
            (     ' HS-grad',  ' >50K'),
            (     ' Masters',  ' >50K'),
            (     ' Masters', ' <=50K'),
            (   ' Preschool', ' <=50K'),
            ( ' Prof-school',  ' >50K'),
            ( ' Prof-school', ' <=50K'),
            (' Some-college', ' <=50K'),
            (' Some-college',  ' >50K')],
           names=['education', 'income'])

In [42]:
def get_percentage(education:str)->str:
    try:
        minus_iqual_50k = gpe[f' {education}', ' <=50K']
    except:
        minus_iqual_50k = 0

    try:
        bigger_50k = gpe[f' {education}', ' >50K']
    except:
        bigger_50k = 0
    
    percentage_minus_iqual_50k = (minus_iqual_50k / (minus_iqual_50k + bigger_50k)) * 100
    percentage_bigger_50k = (bigger_50k / (minus_iqual_50k + bigger_50k)) * 100

    return f'{education} % <=50K: {percentage_minus_iqual_50k:.2f} | {education} % >50K: {percentage_bigger_50k:.2f}'

In [39]:
dataset['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [43]:
for edu in dataset['education'].unique():
    print(get_percentage(edu.strip()))

Bachelors % <=50K: 58.52 | Bachelors % >50K: 41.48
HS-grad % <=50K: 84.05 | HS-grad % >50K: 15.95
11th % <=50K: 94.89 | 11th % >50K: 5.11
Masters % <=50K: 44.34 | Masters % >50K: 55.66
9th % <=50K: 94.75 | 9th % >50K: 5.25
Some-college % <=50K: 80.98 | Some-college % >50K: 19.02
Assoc-acdm % <=50K: 75.16 | Assoc-acdm % >50K: 24.84
Assoc-voc % <=50K: 73.88 | Assoc-voc % >50K: 26.12
7th-8th % <=50K: 93.81 | 7th-8th % >50K: 6.19
Doctorate % <=50K: 25.91 | Doctorate % >50K: 74.09
Prof-school % <=50K: 26.56 | Prof-school % >50K: 73.44
5th-6th % <=50K: 95.20 | 5th-6th % >50K: 4.80
10th % <=50K: 93.35 | 10th % >50K: 6.65
1st-4th % <=50K: 96.43 | 1st-4th % >50K: 3.57
Preschool % <=50K: 100.00 | Preschool % >50K: 0.00
12th % <=50K: 92.38 | 12th % >50K: 7.62